#pitch
  :markdown
    # Big dreams. Swift starts.

    We make web and mobile apps that people love.

    We take **your idea** from high-level concept to useful product in as little as
    [two weeks]. We charge $225/hr.

    **Interested?**
    <a class="button" href="mailto:all@fortnightlabs.com">Email us</a>

    [two weeks]: /process

#portfolio
  %h2 Work
  :ruby
    # TODO solarcolver
    projects = [
      ['swivel', 'Swivel let people share graphs and numbers on the web. We led the team that designed and built Swivel.'],
      ['nko', 'Node Knockout is a 48-hour programming contest that we created. Last year, 500 people participated and we gave away $40k in prizes.'],
      ['monitaur', 'Built in a weekend, Monitaur makes it really simple to ensure your web servers are running effectively.'],
      ['happytrack', 'An iPhone app we built for a Harvard research project on happiness tracking. Featured in the New York Times, NPR, and Science.'],
      ['theglamourist', 'Empowering women through beauty. A great example of our design work.'],
      ['gentrify', 'Built in a weekend, Gentriy was a tongue-in-cheek way for urbanites to find apartments. Featured in VentureBeat and Laughing Squid.'],
      ['lazeroids', 'Another weekend project. Massively multiplayer online asteroids.'],
      ['d2c', 'An iPhone app for attendees of the Data 2.0 Conference, mashing up Google Spreadsheets, Factual, Twitter and CrunchBase. Built in our spare time a couple weekends before the conference.']];

  - projects.each do |project, description|
    %a{ :href => "/images/screenshots/large/#{project}.png", :title => description }<
      %img{ :src => "/images/screenshots/#{project}.png", :alt => project }

#clients
  :ruby
    clients = [
      ['Sequoia Capital', 'http://www.sequoiacap.com/', 'We\'ve built marketing sites for Sequoia. In addition, we design and develop some really cool internal tools for the VC that we can\'t talk about.'],
      ['SpotXchange', 'http://www.spotxchange.com/publisher_dashboard_video_ad_monetization.html', 'We designed SpotXchange\'s best-in-class publisher dashboard.'],
      ['Identified', 'http://www.identified.com/', 'We integrated Identified with Google Contacts, Hotmail, and a dozens of other contact services.'],
      ['Minor Ventures', 'http://minorventures.com/', 'We built Swivel for Minor Ventures, and provided consulting services for the site after the company shutdown.'],
      ['Armageddon Energy', 'http://www.armageddonenergy.com/', 'We built the company\'s mobile dashboard for tracking solar panel effectiveness.'],
      ['Public Library of Science', 'http://www.plos.org/'],
      ['Mid Ventures', 'http://midventures.com/', 'We designed and built the mobile app for the Mid Ventures Data 2.0 Conference.']].map do |name, url, title|
        [name, url, title, name.downcase.split.join('-')]
      end

  - clients.each do |name, url, title, slug|
    %a.iframe{ :href => "#{url}", :title => title }<
      %img{ :src => "/images/clients/#{slug}.png", :alt => name }

#team
  %h2 Team
  :ruby
    require 'digest/md5'
    team = [
      # ['Huned', 'Botee', 'huned', 'huned', 'hunedx@gmail.com'],
      ['Visnu', 'Pitiyanuvath', 'visnu', 'visnup', 'visnu@fortnightlabs.com'],
      ['Gerad', 'Suyderhoud', 'geradsuyderhoud', 'gerad', 'gerad@fortnightlabs.com']]
  .members
    - team.each do |first_name, last_name, linkedin_id, twitter_id, email|
      .member
        %img.avatar{ :src => "http://gravatar.com/avatar/#{Digest::MD5.hexdigest(email)}?s=60"}
        .first-name= first_name
        .last-name= last_name
        .icons
          %a{ :href => "http://linkedin.com/in/#{linkedin_id}" }<
            %img{ :src => "/images/icons/linkedin.png" }
          %a{ :href => "http://twitter.com/#{twitter_id}" }<
            %img{ :src => "/images/icons/twitter.png" }
          %a{ :href => "mailto:#{email}" }<
            %img{ :src => "/images/icons/email.png" }
